<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="colissimolabel.orders-not-sent" class="ColissimoLabel\Loop\OrdersNotSentLoop" />
        <loop name="colissimolabel.label-info" class="ColissimoLabel\Loop\ColissimoLabelInfo" />
    </loops>

    <forms>
        <form name="colissimolabel.configure" class="ColissimoLabel\Form\ConfigureColissimoLabel" />
        <form name="colissimolabel_export_form" class="ColissimoLabel\Form\LabelGenerationForm" />
    </forms>

    <commands>
        <!--
        <command class="ColissimoLabel\Command\MySuperCommand" />
        -->
    </commands>

    <!--
    <services>
    </services>
    -->

    <hooks>
        <hook id="colissimo.label.hook.back.order_edit" class="ColissimoLabel\Hook\Back\OrderEditHook">
            <tag name="hook.event_listener" event="order.edit-js" type="back" method="onOrderEditJs" />
        </hook>
        <hook id="colissimo.label.hook.hook.main.in.top.menu.items" class="ColissimoLabel\Hook\Back\MenuHook">
            <tag name="hook.event_listener" event="main.in-top-menu-items" type="back"  />
        </hook>
    </hooks>

    <!--
    <exports>

    </exports>
    -->

    <!--
    <imports>

    </imports>
    -->
</config>
