<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>ColissimoLabel\ColissimoLabel</fullnamespace>
    <descriptive locale="en_US">
        <title>Generate the delivery labels for Colissimo</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Genérer les étiquettes de livraison pour Colissimo</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.0</version>
    <authors>
        <author>
            <name>Gilles Bourgeat</name>
            <email>gbourgeat@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.2.0</thelia>
    <stability>beta</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
